.row {
    width: 301px;

}

.col {
    width: 12px;
    height: 12px;
    background: #ecf0f1;
    float: left;
}

.apple {
    background: #2ecc71;
}

.snake1 {
    background: #3498db;
}

.snake2 {
    background: #f1c40f;
}