.row {
    width: 350px;
}

.info {
    display: static;
}

.error {
    color: red;
}

.success {
    color: green;
}

.square {
    border: 1px solid black;
    float: left;
    width: 100px;
    height: 100px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}