.disc {
    border-radius: 20px;
    background: red;
    border: 1px solid black;
    height: 25px;
    margin: auto;
}
.big {
    width: 100px;
}

.medium {
    width: 75px;
}

.small {
    width: 50px;
}
.col {
    float: left;
    border-bottom: 2px solid black;
    height: 78px;
    width: 102px;
    margin: 5px;
    background: lightgray;
    border-radius: 5px;
}

.info {
    display: static;
}

.from {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}